<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Not Alone Messenger">
    <meta name="keywords" content="chat,not alone">
    <meta name="author" content="Specta">
    
    <title>Not Alone</title>
    
    <!-----Bootstrap CSS --->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <!-----JQuery JS ------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-----Bootstrap JS ---->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <!-----Custom JS ------>
    <link rel="stylesheet" href="../includes/css/main.css" >
    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    
    
    
</head>

<body>

<div id="container">
    
    <!------Navigation panel ---->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../includes/images/logo.jpg" </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Features</a></li>
            <li><a href="#">Platform</a></li>
            <li><a href="#">About</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!------Navigation panel ends ---->
    
 
    <div id="userinputbox">
    
    <div class="col-lg-4"></div>
    <div class="col-lg-5">
    <input type="email" placeholder="you@email.com" autofocus size="50" spellcheck="false">
    <div id="emailok" class="btn btn-primary">Looks Good ! <span class="glyphicon glyphicon-ok"></span> </div>
    <input type="password" placeholder="*****">
    </div>    
        
    </div>
        
    
 
    

</div>
    
    

    
</body>    
    

</html>