<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Not Alone Messenger">
    <meta name="keywords" content="chat,not alone">
    <meta name="author" content="Specta">
    
    <title>Not Alone</title>
    
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <!-----Custom JS ------>
    <link rel="stylesheet" href="../includes/css/main.css" >
    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    
    
    
</head>

<body>

<div id="container">
    
    <!------Navigation panel ---->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">          
          <a class="navbar-brand" href="#"><!-- <img src="../includes/images/logo.jpg"> --></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Features</a></li>
            <li><a href="#">Platform</a></li>
            <li><a href="#">About</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!------Navigation panel ends ---->
    
    

    <div class="row userinputbox">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
                <img class="landinglogo" src="../includes/images/notalone2.png">

                <form class="signup-form">
                    <input type="email" placeholder="Email Address" autofocus size="50" spellcheck="false"></br></br>
                    <input type="password" placeholder="*****"></form>
                     <div class="checkbox">
                     <label style="font-size:12px"><input type="checkbox" >Remember me</label>
                    </div>
                    <div id="emailok" class="btn btn-primary" style="width:250px;">Login</div></br>
                    
                </form>
            </div>
        <div class="col-lg-6 landing-content">
        <h1>Exlpore, discover and stay connected</h1>
        <p>because you are not alone .</p></br></br>
        <p style="font-size: 14px; text-align:justify;">
        A social network based on your real time location. Make new friends,<br> stay connected with the old ones. Explore people and places around<br> you, offer or get help. Reveal or stay a stranger. The biggest power of<br> mankind is the power to communicate, never be alone even at strange<br> places. Get in touch with like minded people. Private Beta is on its way. <br>Let's spread love . </p>
        </div>
    </div>
    
</div>
    
</body>    
    

</html>