<div class="row">
    <div class="col-xs-3 col-lg-3" style="overflow-y:auto;
  overflow-x:hidden;
    height:600px; border-right: 1px solid #eeeeee;">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" class="form-control input-sm" placeholder="Search" />
            </div>
            <div class="col-xs-offset-1 col-xs-3">
            <a class="btn btn-primary btn-sm pull-right">+ Add Friend</a>
            </div>
        </div>
        <div class="row" style="border-bottom:1px solid #eeeeee;padding:10px;">
            <div class="col-xs-3">
                <img src="/images/chat_user.png">
            </div>
            <div class="col-xs-6">
                <p>Vishal Ranjan</p>
            </div>
            <div class="col-xs-3">
                <p>10:43am</p>
            </div>
        </div>      
    </div>
    <div class="col-xs-9 col-lg-6" style="overflow-y:auto;
  overflow-x:hidden;
    height:600px; border-right: 1px solid #eeeeee;">
        Chat
    </div>
    <div class="col-lg-3 visible-md visible-lg">
        Details
    </div>
</div>
