/* 
Main CSS for layout 
=============

Author    : Vishal R 
Date   : May 2015

*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');


body{
	
	font-size:20px; 
   font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.navbar {
background-color: #FFF;
border: none;
}

.navbar-default .navbar-nav>li>a {
color: #0084ff;
font-size: 14px;
}


.userinputbox{
margin-top: 150px;
}
.signup-form{
padding-top: 30px;
}
.landinglogo{
	margin-left: -22px;
}
.landing-content{
	margin-top: 50px;
}

input[type=email],input[type=password]
{
border: none;
color: #000;
border-color: transparent;
outline: none;
font-size: 22px;    
    
}
input[type=email],input[type=password]:focus
{
border: none;
border-color: transparent;
outline: none;
}

#emailok{
visibility: visible;
}
