<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4" ng-if="!chatWith">
        <div class="page-header">
            <h4>Hey <strong>{{currentUser.name}}</strong>, Share the link to start a chat<h4>                
        </div>
        <a ng-href="{{link}}" target="_blank"><span class="glyphicon glyphicon-link"></span> {{link}}</a>            
    </div>
        
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4" ng-if="chatWith">
		<g>Start a chat with {{chatWith}}</p>			    
	            <form ng-submit="register(name,username, password)" ng-controller="RegisterCtrl"> 
	                <h1>Sign Up </h1>
	                <div class="form-group">
	                    <input type="text" name="name" ng-model="name" class="form-control" placeholder="Name">
	                </div>
	                <div class="form-group">
	                    <input type="text" name="email" ng-model="username" class="form-control" placeholder="Email">
	                </div>
	                <div class="form-group">
	                    <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password">
	                </div>
	                <button type="submit" class="btn btn-default">Submit</button>
	            </form>	        	    
	</div>
</div>

<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>

	

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Write something.."></textarea>
			<input type="submit" id="submit" value="SEND"/>

		</form>

	</footer>
