<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Not Alone Messenger">
    <meta name="keywords" content="chat,not alone">
    <meta name="author" content="Specta">
    
    <title>Not Alone</title>
    
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <!-----Custom JS ------>
    <link rel="stylesheet" href="../../includes/css/main.css" >
    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    
    
    
</head>

<body>

<div id="container">
    
    <!------Navigation panel ---->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">          
          <a class="navbar-brand" href="#"><img src="../../includes/images/logo.jpg"></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search your friends">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings <span class="glyphicon glyphicon-user"></span> </a></li>
            <!-- <li><a href="#">About</a></li>             -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!------Navigation panel ends ---->

    <div class="row">
        <div class="col-lg-3">
        <tbody>
        <div class="friends">
          <table border="1" style="border-color:rgb(245, 225, 225)">
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>
            <tr>
              <td><div class="chatlist-friend"><img src="../../includes/images/chat_user.png"><p style="margin-left: 81px;
  margin-top: -48;font-size:16px;">Vishal Ranjan</div></td>
            </tr>

          </table>
          </div>
          </tbody>
        </div>
        <div class="col-lg-6">
          <div class="input-group chat-box">
            <input type="text" class="form-control" placeholder="Send a message....">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Send <span class="glyphicon glyphicon-send"></span> </button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-lg-3">test</div>

    </div>
    
    
</div>
    
</body>    
    

</html>